// Place all the styles related to the api/bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark:hover {
  color: #077187;
}

.selected {
  font-size: 32px;
  color: #c6c6c6;
}

.unselected {
  font-size: 32px;
  color: #c6c6c6;
}

.event-detail-bookmark {
  font-size: 16px;
}
