.event-index-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.event-index-header {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  color: #077187;
  margin: 30px;
}

.event-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.event-index-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.event-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.carousel-cell {
  display: flex;
  justify-content: flex-start;
  margin: 15px 30%;
  min-width: 500px;
  max-width: 750px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  overflow: hidden;
}

.slider-decorator-2 {
  bottom: -50px!important;
}

.slider-frame {
  min-height: 315px!important;
  margin: 20px 0!important;
}


.event-thumbnail-details {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
}

.event-thumbnail-details li {
  margin: 5px;
}

.event-thumbnail-details li:hover {
  text-decoration: underline;
}

.carousel-cell a:link,
.carousel-cell a:visited {
  text-decoration: none;
  color: #077187;
}


.thumbnail-image {
  // background: linear-gradient(to bottom right,#002f4b,#dc4225); //gradient over image
}

.cell-image {
  height: auto;
  width: 300px;
  transition: 1s;
}

.cell-image:hover {
  opacity: 0.5;
  transition: 1s;
}

.see-more-button {
  display: flex;
  justify-content: space-around;
}

.event-index-link {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding: 5px 20px;
  border: 2px solid #077187;
  border-radius: 8px;
  margin: 30px 0px;
  color: #077187;
  text-decoration: none;
  align-items: center;
  transition: 0.3s;
}

.event-index-link:hover {
  background-color: #077187;
  transition: 0.3s;
  color: white;
  cursor: pointer;
}
