.event-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-index-header {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: #077187;
}

.event-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell-image {
  height: 500px;
  width: auto;
  background-color: white;
  opacity: 0.5;
}
