.footer {
  background-color: #077187;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer ul li {
  height: 75px;
}

.footer ul li:hover {
  cursor: pointer;
}

.footer-icon {
  padding: 10px;
  height: 30px;
}

.fa-envelope {
  font-size: 28px;
}

