.nav-bar, .session-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #077187;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  border: 0;
}
.nav-bar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-logo {
  margin: 0;
  padding: 23.5px;
  background-color: inherit;
  font-size: 36px;
}

.session-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.session-links ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-links {
  padding: 34px 20px;
}

.session-button {
  text-transform: uppercase;
  padding: 34px 20px!important;
  border: none;
  outline: none;
  outline-offset: 0;
  background-color: inherit;
}

.nav-logo:hover, .session-links ul li:hover,
.session-button:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.5s;
}

a:link, a:hover, a:visited {
  text-decoration: none;
}

header a:link, header a:hover, header a:visited,
header ul li a:link, header ul li a:hover,
header ul li a:visited {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
