.session-form-container {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  opacity: 100%;
  border: 0;
}

.switch-form {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0;
}

.switch-form-button {
  padding: 15px;
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.switch-form-button:hover {
  background-color: #bfbdbd;
  cursor: pointer;
}

.modal-buttons {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form-header {
  font-size: 36px;
  margin: 20px 0;
}

.modal-buttons li:first-child {
  display: flex;
  justify-content: flex-end;
}

.modal-buttons li:last-child {
  display: flex;
  justify-content: center;
}

.session-form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.session-input {
  padding: 10px;
  width: 75%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  transition: background-color 0.5s;
}

.session-input:focus {
  outline-color: #077187;
  background-color: #F4F7F5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.errors {
  color: red;
  margin-bottom: 10px;
  list-style-type: none;
}

.errors li {
  padding: 5px;
  margin: 0 20px;
}

.submit-button {
  background-color: #0eba8c;
  color: white;
  padding: 7.5px 10px!important;
  outline: none;
  outline-offset: 0;
  width: 80%;
  border: 1px solid #0eba8c;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #295E42;
  border: 1px solid #295E42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
}
