.ticket-modal-container {
  font-family: 'Raleway', sans-serif;
}

.ticket-modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  padding: 10px 0;
  border-bottom: 1px solid #c6c6c6;
}

.ticket-modal-container:focus,
.close-modal-button:focus,
.ticket-quantity-selector:focus {
  outline-color: transparent;
  outline-style: none;
}

.ticket-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ticket-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  border-left: 10px solid #077187;
}

.ticket-details {
  display: flex;
  flex-direction: column;
}

.ticket-details label {
  margin: 5px;
  text-align: left;
}

.ticket-title {
  font-size: 18px;
  font-weight: bold;
}

.ticket-quantity-selector {
  max-width: 100%;
  width: 80px;
  height: 30px;
}

.ticket-form-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #c6c6c6;
}
