/* line 5, /Users/jill/Desktop/EventsInTown/app/assets/stylesheets/static_pages.scss */
body, header, div, ul, li, h1, h2, h3, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: inherit;
}
